* {
	padding: 0;
	margin: 0;
}
.plain-menu {
	position: fixed;
	/*bottom: 0;*/
	left: 25px;
	width: 100%;
	height: 100px;
}
.plain-menu .item {
	position: absolute;
	width: 50px;
	height: 50px;
	background: silver;
	border: 1px solid aliceblue;
	text-align: center;
	cursor: pointer;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plain-menu .item:hover {
	/*opacity: 0.7;*/
	background: lightcoral;
	z-index: 10;
}

.item.prev {
	/*background: lightgreen;*/
	width: 80px !important;
	height: 80px !important;
	top: 10px !important;
}
.item.next {
	/*background: dodgerblue;*/
	width: 80px !important;
	height: 80px !important;
	top: 10px !important;
}