* {
	padding: 0;
	margin: 0;
}
.plain-menu {
	position: fixed;
	/*bottom: 0;*/
	left: 25px;
	width: 100%;
	height: 100px;
}
.plain-menu .item {
	position: absolute;
	top: 25px;
	width: 50px;
	height: 50px;
	background: silver;
	text-align: center;
	cursor: pointer;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom right, #ff5c77, #ffff33);
	border-radius: 50%;
	/*border: 2px solid transparent;
	-moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	-webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	border-image: linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	border-image-slice: 1;*/
}
.item > span {
	width: 80%;
	height: 80%;
	background-color: white;
	border-radius: 50%;
}

.plain-menu .item:hover {
	/*background: lightcoral;*/
	z-index: 10;
}

.item.previous, .item.following {
	top: 0px;
}
.prev-elems > .item {
	background: lightgreen;
	opacity: 0.7;
}

.next-elems > .item {
	background: lightblue;
	opacity: 0.7;
}
.prev-elems {
	/*border: 1px solid blue;*/
}
.next-elems {
	/*border: 1px solid red;*/
}