* {
	padding: 0;
	margin: 0;
}
.plain-menu {
	position: fixed;
	width: 518px;
	height: 100px;
	font-family: Arial,Verdana;
	bottom: 10px;
}
.plain-menu .item {
	position: absolute;
	top: 25px;
	width: 50px;
	height: 50px;
	background: silver;
	text-align: center;
	cursor: pointer;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(250,250,250, 0.7));
	border-radius: 50%;
}


.plain-menu .item > span::after {
	content: '';
	position:absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
}

.plain-menu .item:nth-child(1) > span.icon::after {
	background: url('../assets/icons/chrome.png') center;
	background-size: contain;
}

.plain-menu .item:nth-child(2) > span.icon::after {
	top: 8%;
	left: 8%;
	background: url('../assets/icons/edge.png') center;
	background-size: contain;
}

.plain-menu .item:nth-child(3) > span.icon::after {
	background: url('../assets/icons/call.png') center;
	background-size: contain;
}
.plain-menu .item:nth-child(4) > span.icon::after {
	background: url('../assets/icons/skype.png') center;
	background-size: 100% 100%;
}
.plain-menu .item:nth-child(5) > span.icon::after {
	background: url('../assets/icons/youtube.png') center;
	background-size: contain;
}
.plain-menu .item:nth-child(7) > span.icon::after {
	background: url('../assets/icons/secure.png') center;
	background-size: contain;
}
.plain-menu .item:nth-child(6) > span.icon::after {
	background: url('../assets/icons/twitter.png') center;
	background-size: contain;
}
.plain-menu .item:nth-child(8) > span.icon::after {
	background: url('../assets/icons/instagram.png') center;
	background-size: contain;
}
.plain-menu .item:nth-child(9) > span.icon::after {
	 background: url('../assets/icons/facebook.png') center;
	 background-size: contain;
 }
.plain-menu .item:nth-child(10) > span.icon::after {
	background: url('../assets/icons/alarm.png') center;
	background-size: contain;
}
.item > span.icon {
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

.plain-menu .item:hover {
	box-shadow: 0 0 10px rgba(189,189,189,0.7);
	z-index: 10;
}

.item span.title {
	display: none;
	top: 0;
}
.item span.icon:hover {
	width: 100%;
	height: 100%;
}
.item span.icon:hover ~ span.title {
	display: block;
	opacity: 1;
	width: 100%;
	height: 30px;
	position: absolute;
	top: -50px;
	padding: 0 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 1px;
	border-radius: 5px;
	background: rgba(240,240,240, 1);
	animation: movingUp 0.5s ease;
	color: #676d73;
}

.item span.title::after {
	position: absolute;
	width: 0;
	height: 0;
	left: calc(50% - 10px);
	top: 25px;
	border: 10px solid;
	z-index: -1;
	border-color: rgba(240,240,240, 1) transparent transparent transparent;
}

@keyframes movingUp {
	from {
		opacity: 0;
		top: 0px
	}
	to {
		opacity: 1;
		top: -50px;
	}
}