* {
	padding: 0;
	margin: 0;
}
.plain-menu {
	position: fixed;
	font-family: Arial,Verdana;
}

.plain-menu .item {
	position: absolute;
	width: 50px;
	height: 50px;
	background: transparent;
	text-align: center;
	cursor: pointer;
	text-align:center;
}

.item > .icon {
	position: absolute;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item > span.title {
	display: none;
	width: 120px;
	height: 30px;
	position: absolute;
	padding: 0 5px;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 1px;
	border-radius: 5px;
	background: rgba(240,240,240, 1);
	white-space: nowrap;
}

.plain-menu .item:nth-child(1) > .icon  {
	background:
			url('../assets/icons/chrome.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(2)> .icon {
	background:
			url('../assets/icons/adobe.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(3) > .icon {
	background:
			url('../assets/icons/call.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(4) > .icon  {
	background:
			url('../assets/icons/skype.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(5) > .icon  {
	background:
			url('../assets/icons/youtube.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(7) > .icon  {
	background:
			url('../assets/icons/secure.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(6) > .icon  {
	background:
			url('../assets/icons/twitter.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(8) > .icon {
	background:
			url('../assets/icons/instagram.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(9) > .icon {
	background:
			url('../assets/icons/facebook.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(10) > .icon {
	background:
			url('../assets/icons/alarm.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(11) > .icon {
	background:
			url('../assets/icons/opera.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(12) > .icon {
	background:
			url('../assets/icons/app_store.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(13) > .icon {
	background:
			url('../assets/icons/firefox.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(14) > .icon  {
	background:
			url('../assets/icons/settings.png') center no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80% 80%, cover;
}
.plain-menu .item:nth-child(15) > .icon {
	background:
			url('../assets/icons/owl.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(16) > .icon  {
	background:
			url('../assets/icons/debian.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
.plain-menu .item:nth-child(17) > .icon  {
	background:
			url('../assets/icons/android.png') 50% 50% no-repeat,
			linear-gradient(to bottom right, rgba(230,230,230, 0.7), rgba(240,240,240, 0.7));

	background-size: 80%, cover;
}
